<h1>Listing projects</h1>

<table>
  <tr>
    <th>G</th>
    <th>Name</th>
    <th>Description</th>
    <th>Url</th>
    <th>Homepage</th>
    <th>Forks count</th>
    <th>Watchers count</th>
    <th>Open issues count</th>
    <th>G updated at</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.g_id %></td>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= project.url %></td>
    <td><%= project.homepage %></td>
    <td><%= project.forks_count %></td>
    <td><%= project.watchers_count %></td>
    <td><%= project.open_issues_count %></td>
    <td><%= project.g_updated_at %></td>
    <td><%= project.user %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
