<p id="notice"><%= notice %></p>

<p>
  <b>G:</b>
  <%= @project.g_id %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Url:</b>
  <%= @project.url %>
</p>

<p>
  <b>Homepage:</b>
  <%= @project.homepage %>
</p>

<p>
  <b>Forks count:</b>
  <%= @project.forks_count %>
</p>

<p>
  <b>Watchers count:</b>
  <%= @project.watchers_count %>
</p>

<p>
  <b>Open issues count:</b>
  <%= @project.open_issues_count %>
</p>

<p>
  <b>G updated at:</b>
  <%= @project.g_updated_at %>
</p>

<p>
  <b>User:</b>
  <%= @project.user %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
